<!DOCTYPE html>
<html>
<head>
<title>Inference</title>
</head>
<body>

{% block content %}
<div style="padding-left:100px;padding-top:50px">
    <h2>Audio Inference</h2>
    <div style="padding-top:20px;">
        <form method="post" enctype=multipart/form-data>
            <input type="file" name="my_file[]" id="myFiles" multiple>
            <br/>
            <div style="padding-top:20px;">
                <input type="submit" name="submit_button" value="Get Inference">
                <input type="submit" name="submit_button" value="Get Tfrecord">
            </div>
        </form>
    </div>
</div>
{% endblock %}
<div style="padding-left:100px;padding-top:0px">
    <h2>Output</h2>
    <div style="padding-top:0px;margin-right:0">
        <p id="demo">
        {{json}}
        </p>
    </div>
</div>

</body>
</html>
